
.menu1
{
    background-color: #4d5051;
    height: 350px;
    text-decoration: none;
}
.body
{
    border: 2px solid #333;
    padding: 200px 400px;
    background: #fff;
    width: 70%;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 12px;
}
.btn_move
{
    margin-left: 350px;
}
.form_move
{
    margin-left: 50px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: -15px;
    margin-left: -15px;
}
.nav-pills>li>a {
    border-radius: 1px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: 15px;
}
.mainmenu, .contact {
    width: 310px;
    float: right;
    margin-top: -200px;
}
.row1 {
    width: 621px;
    float: left;
    margin-left: 70px;
    margin-top: 70px;
}
.mainmenu, .contact {
    width: 310px;
    float: right;
    margin-top: -200px;
}
.row1 {
    width: 621px;
    float: left;
    margin-left: 70px;
    margin-top: 70px;
}
.content {
    background-color: #FFFFFF;
    background-image: url(http://localhost/costprize_blog/public/img/body-top.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 952px;
    float: left;
    padding: 30px 24px 0px 24px;
    margin-left: 180px;

}
.topmenu {
    background-image: url(http://localhost/costprize_blog/public/img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 1000px;
    height: 74px;
    float: left;
    margin-left: 155px;

}
.tbl_display
{
    width:85%
}